################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
/src/AgileCode.SimpleEventProcessor/bin
/src/AgileCode.SimpleEventProcessor/obj
/src/AgileCode.SimpleEventProcessor.Tests/bin
/src/AgileCode.SimpleEventProcessor.Tests/obj
*.suo
