################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AgileCode.SimpleEventProcessor/bin/Debug/netstandard2.0
